<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mbb.order.biz.dao.OrderMapper">


  <sql id="Order_Column_List">
     o.id id,
     o.version version,
     o.ecs_order_id ecsOrderId,
     o.code code,
     o.store_id storeId,
     o.customer_id customerId,
     o.receiver receiver,
     o.receiver_phone receiverPhone,
     o.pos_id posId,
     o.total_price totalPrice,
     o.sub_total subTotal,
     o.discount discount,
     o.delivery_cost deliveryCost,
     o.date `date`,
     o.payment_date paymentDate,
     o.status_id statusId,
     o.order_type_id orderTypeId,
     o.address_id addressId,
     o.platform_id platformId,
     o.order_source_id orderSourceId,
     o.channel_id channelId,
     o.remark remark,
     o.delivery_type_id deliveryTypeId,
     o.carrier_id carrierId
   </sql>
  <sql id="Remark_Column_List">
     r.id r_id,
     r.version r_version,
     r.user_id r_userId,
     r.date r_date,
     r.remark r_remark
   </sql>
  <sql id="Payment_Column_List">
     p.id p_id,
     p.version p_version,
     p.type_id p_typeId,
     p.amount p_amount,
     p.date p_date,
     p.serial_number p_serialNumber
   </sql>
  <!-- 留着备用 -->

   <resultMap id="OrderResultMap" type="com.mbb.order.biz.model.OrderModel">
      <result column="ecsOrderId" property="ecsOrderId"/>
      <result column="storeId" property="storeId"/>
      <result column="posId" property="posId"/>
      <result column="orderTypeId" property="orderTypeId"/>
      <result column="statusId" property="statusId"/>
      <result column="totalPrice" property="totalPrice"/>
      <result column="receiverPhone" property="receiverPhone"/>
      <result column="addressId" property="addressId"/>
      <result column="paymentDate" property="paymentDate"/>
   </resultMap>

   <select id="getOrders" resultMap="OrderResultMap">
      <bind name="ecsOrderIdFlag" value="@org.apache.commons.lang.StringUtils@isNotEmpty(ecsOrderId)"/>
      <bind name="codeFlag" value="@org.apache.commons.lang.StringUtils@isNotEmpty(code)"/>
      <bind name="consignmentFlag" value="@org.apache.commons.lang.StringUtils@isNotEmpty(consignmentCode)"/>
      <bind name="storeIdFlag" value="storeId != null"/>
      <bind name="customerIdFlag" value="customerId != null"/>
      <bind name="receiverFlag" value="@org.apache.commons.lang.StringUtils@isNotEmpty(receiver)"/>
      <bind name="receiverPhoneFlag" value="@org.apache.commons.lang.StringUtils@isNotEmpty(receiverPhone)"/>
      <bind name="posIdFlag" value="posId != null"/>
      <bind name="totalPriceMinFlag" value="totalPriceMin != null"/>
      <bind name="totalPriceMaxFlag" value="totalPriceMax != null"/>
      <bind name="startDateFlag" value="startDate != null"/>
      <bind name="endDateFlag" value="endDate != null"/>
      <bind name="paymentStartDateFlag" value="paymentStartDate != null"/>
      <bind name="paymentEndDateFlag" value="paymentEndDate != null"/>
      <bind name="statusIdFlag" value="@org.apache.commons.collections4.CollectionUtils@isNotEmpty(statusId)"/>
      <bind name="orderTypeIdFlag" value="@org.apache.commons.collections4.CollectionUtils@isNotEmpty(orderTypeId)"/>
      select
      <include refid="Order_Column_List"/>
      from `order` as o
      <if test="consignmentFlag">
         join consignment as c on c.order_id = o.id
      </if>
      where 1=1
      <if test="codeFlag">
         <bind name="code" value="_parameter.code + '%'"/>
         and o.code like #{code}
      </if>

      <if test="ecsOrderIdFlag">
         <bind name="ecsOrderId" value="_parameter.ecsOrderId + '%'"/>
         and o.ecs_order_id like #{ecsOrderId}
      </if>

      <if test="consignmentFlag">
         <bind name="consignmentCode" value="_parameter.consignmentCode + '%'"/>
         and c.code like #{consignmentCode}
      </if>

      <if test="storeIdFlag">
         and o.store_id = #{storeId}
      </if>

      <if test="customerIdFlag">
         and o.customer_id = #{customerId}
      </if>

      <if test="receiverFlag">
         <bind name="receiver" value="_parameter.receiver + '%'"/>
         and o.receiver like #{receiver}
      </if>

      <if test="receiverPhoneFlag">
         <bind name="receiverPhone" value="_parameter.receiverPhone + '%'"/>
         and o.receiver_phone like #{receiverPhone}
      </if>

      <if test="posIdFlag">
         and c.pos_id = #{posId}
      </if>

      <if test="totalPriceMinFlag">
         and o.total_price &gt;= #{totalPriceMin}
      </if>

      <if test="totalPriceMaxFlag">
         and o.total_price &lt;= #{totalPriceMax}
      </if>

      <if test="startDateFlag">
         and o.date &gt;= #{startDate}
      </if>

      <if test="endDateFlag">
         and o.date &lt;= #{endDate}
      </if>

      <if test="paymentStartDateFlag">
         and o.payment_date &gt;= #{paymentStartDate}
      </if>

      <if test="paymentEndDateFlag">
         and o.payment_date &lt;= #{paymentEndDate}
      </if>

      <if test="statusIdFlag">
         and o.status_id in
         <foreach collection="statusId" index="index" item="item" open="(" separator="," close=")">
            #{item}
         </foreach>
      </if>

      <if test="orderTypeIdFlag">
         and o.order_type_id in
         <foreach collection="orderTypeId" index="index" item="item" open="(" separator="," close=")">
            #{item}
         </foreach>
      </if>
   </select>


</mapper>